{{!-- ### header.hbs --}}
<header>
    <h1>{{title}}</h1>
    <h2>{{subTitle}} </h2>
    <div class="step-process">
        <div id="btn-extractPdf" class="step">Web Site Content Extract as pdf</div>
        <div id="btn-pdfToJs" class="step">Pdf Extract content as JS</div>
        <div id="btn-loadDB" class="step">Load Content to DB</div>
        <div id="btn-chat" class="step">Chat</div>
    </div>
</header>
